@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Playwrite NZ Basic", cursive;
}

/* Background */
.container{
  height:100vh;
  /* display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image:url("assets/Soft_pink_abstract_background_with_watercolor.jpg");
  background-size:cover; */
   background-color: red;
}


/* Card */
.innerdiv{
 
  width:420px;
  padding:40px 30px;
  border-radius:30px;
  background:#fff0f5;
  box-shadow:0 15px 40px rgba(255,105,180,0.25);
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;

    position:relative; /* MUST */
  overflow:hidden;   /* keeps No inside card */
}

/* Heading */
.headpara1{
  font-size:20px;
  color:#c2185b;
  text-align:center;
}

.headpara2{
  font-size:20px;
  font-weight:600;
  color:#e91e63;
  text-align:center;
}

/* Image */
.image{
  height:150px;
  width:150px;
}

.image img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:20px;
}

/* Buttons container */
.btns{
  display:flex;
  gap:20px;
  margin-top:10px;
}

/* YES button */
.yesbtn{
  padding:14px 32px;
  border:none;
  border-radius:40px;
  font-size:18px;
  font-weight:bold;
  color:white;
  cursor:pointer;
  background:linear-gradient(135deg,#ff4d88,#ff0066);
  box-shadow:0 8px 20px rgba(255,0,102,0.4);
  transition:0.3s;
}

.yesbtn:hover{
  transform:scale(1.08);
}
.shakeYes{
  animation: yesShake 0.5s infinite;
}

@keyframes yesShake{

  0%{ transform: translateX(0); }

  25%{ transform: translateX(-4px); }

  50%{ transform: translateX(4px); }

  75%{ transform: translateX(-4px); }

  100%{ transform: translateX(0); }

}

/* NO button */
.nobtn{
  padding:14px 26px;
  border:none;
  border-radius:40px;
  font-size:16px;
  cursor:pointer;
  background:#ffd6e7;
  color:#c2185b;
  transition:0.3s;
}

.nobtn:hover{
  background:#ffc1da;
}
.funMessage{
  margin-top:16px;
  font-size:16px;
  color:#c2185b;
  background:#fff;
  padding:8px 18px;
  border-radius:20px;
  box-shadow:0 4px 10px rgba(255,105,180,0.25);
  animation: fadeSlide 0.4s ease;
}

/* simple + smooth */
@keyframes fadeSlide{
  from{
    opacity:0;
    transform: translateY(-6px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
.gif{
  border: 1px solid red;
  height: 120px;
  width: 120px;
}
.gif img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:15px;
}
